<nav class="index_nav">
    <ul class="nav_floor floor1">
        <li ng-repeat="item in navData">
            <a href="#{{item.url}}" ng-bind="item.name"></a>
            <ul class="nav_floor floor2">
                <li ng-repeat="item in item.list">
                    <a href="#{{item.url}}" ng-bind="item.name"></a>
                    <ul class="nav_floor floor3">
                        <li ng-repeat="item in item.list">
                            <a href="#{{item.url}}" ng-bind="item.name"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>