body {
  color: #000000;
  font-family: "微软雅黑";
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #ebeae8;
  a:link{
    text-decoration:none;
  }
  a:visited{
    text-decoration:none;
  }
  a:hover{
    text-decoration:none;
  }
  a:active{
    text-decoration:none;
  }
  .body_box {
    width: 1000px;
    margin: 0 auto;
  }
  .login_body_box {
    width: 100%;
    margin: 0 auto;
  }
}