.index_nav {
  width: 100%;
  height: 35px;
  background: #eee;
  display: block;
  font-size: 15px;
  ul {
    list-style: none;
    float: left;
    margin: 0 0;
    padding-left: 0;
    li {
      float:left;
      width: 142.8px;
      line-height: 34px;
      position:relative;
      text-align: center;
      border: 1px solid #666;
      border-right: none;
      background: #eee;
      a {
        color:#666;
        display:block;
        font-family:Microsoft YaHei;
      }
    }
  }
  .floor1 {
    > li {
      &:first-child {
        background: orange;
      }
    }
    li {
      &:last-child {
        border-right: 1px solid #666;;
      }
      &:hover {
        background: orange;
        > ul {
          display: block;
          li {
            border-right: 1px solid #666;;
            border-top: none;
          }
        }
      }
    }
    .floor2 {
      position: absolute;
      display: none;
      margin-left: -1px;
      li {
        width: 143.8px;
        a {
          text-align: left;
          margin-left: 10px;
        }
      }
      .floor3 {
        position: absolute;
        margin-left: 70px;
        li {
          width: 180px;
          border-top: 1px solid #666;
        }
      }
    }
  }
}