.index_nav {
  width: 100%;
  height: 35px;
  background: #eee;
  display: block;
  font-size: 15px;
  ul {
    list-style: none;
    .nav_floor {
      float: left;
      padding-top: 7px;
      a {
        width: 100%;
        height: 100%;
        padding: 7px 42px;
        &:hover {
          background: orange;
        }
      }
    }
    .floor2 {
      display: none;
    }
    .floor3 {
      display: none;
    }
  }
}