.index_searchBar {
  width: 100%;
  height: 35px;
  background: #666;
  border:1px dotted #000;
  .position_show {
    width: 30%;
    float: left;
    line-height: 35px;
    color: orange;
    span {
      color: #ffffff;
    }
  }
  .form-group {
    width: 30%;
    float: right;
    margin: 0;
    height: 35px;
    padding: 3px 0;
    margin-right: 15%;
    input {
      width: 100%;
      border-radius: 10px;
      padding-left: 10px;
      outline: none;
    }
  }
}