<div class="login_content_left">
    <div class="panel panel-primary col-lg-3" style="margin-top:1em;" >
        <div id="myTabContent" class="tab-content">
            <div class="panel-body">
                <div id="LoginG"><br />
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">账号</span>
                            <input ng-model="username" name="Username" type="text" class="form-control" placeholder="用户名" />
                        </div><br />
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">密码</span>
                            <input ng-model="password" name="Password" type="Password" class="form-control" placeholder="密码">
                        </div>
                    </div>
                    <h5>请将如下计算结果填入文本框内：</h5>
                    <div class="form-group form-horizontal">
                        <label class="col-lg-4 control-label " id="captchaOperation"></label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control " id="captcha" name="captcha" />
                        </div>
                    </div><br /><br />
                    <div class="form-group">
                        <div class="col-lg-6">
                            <a href="#/login" ng-click="forget()">忘记密码</a>
                        </div>
                        <div class="col-lg-6">
                            <a href="#/loginInit">用户注册</a>
                        </div>
                    </div><br />
                    <div class="form-group">
                        <input ng-click="loginSubmit()" class="btn  btn-primary btn-block" type="submit"  value="登　　录" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login_content_right">
    <div class="panel panel-primary col-lg-9" style="margin-top:1em;">
        <div ng-controller="newsNotesCtrl">
            <div ng-include="'business/modules/newsNotes/newsNotes.html'"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        function randomNumber(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        }
        function generateCaptcha() {
            $('#captchaOperation').html([randomNumber(1, 50), '+', randomNumber(1, 50), '='].join(' '));
        }
        generateCaptcha();

        /**
         * 账号规则
         */
        $('#LoginG')
            .bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    Username: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: '账户不能为空!'
                            },
                            stringLength: {
                                min: 5,
                                max: 20,
                                message: '账号长度 5-20'
                            }
                        }
                    },
                    Password: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空!'
                            }
                        }
                    },
                    captcha: {
                        validators: {
                            callback: {
                                message: '验证码错误!',
                                callback: function (value, validator) {
                                    var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                                    return value == sum;
                                }
                            }
                        }
                    }
                }
            })
            .on('error.form.bv', function (e) {
                var $form = $(e.target),
                    bootstrapValidator = $form.data('bootstrapValidator');
                if (!bootstrapValidator.isValidField('captcha')) {
                    generateCaptcha();
                }
            });
    });
</script>