<div class="form-group col-lg-12" style="margin-top:1em;padding: 0;">
    <div class="col-lg-6">
        <h4>欢迎您，{{loginIned.username}}</h4>
    </div>
    <div class="col-lg-6 btn_back">
        <input ng-click="loginBack()" class="btn  btn-primary btn-block" type="button"  value="返　　回" />
    </div>
</div>
<div class="panel panel-primary col-lg-12" style="margin-top:1em" >
    <div class="panel-body">
        <h3 style="margin: 10px 10px;">赛事公布</h3>
        <div class="table-responsive">
            <table class="table table-striped list">
                <thead>
                <tr>
                    <th class="sortable" >赛事名称</th>
                    <th class="sortable" >赛事类型</th>
                    <th class="sortable">报名起始时间</th>
                    <th class="sortable">报名终止时间</th>
                    <th class="sortable">报名</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td style="font-weight: 400">{{gameIssueData.name}}</td>
                    <td style="font-weight: 400">{{gameIssueData.type}}</td>
                    <td style="font-weight: 400">{{gameIssueData.time_start}}</td>
                    <td style="font-weight: 400">{{gameIssueData.time_end}}</td>
                    <td style="font-weight: 400">
                        <input type="button" id="signSubmit" class="btn btn-success" ng-click="signSubmit()" value="确认报名"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>