.about_box {
  width: 100%;
  border: 1px solid #666;
  .about_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #666;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    padding-left: 5px;
    border-bottom: 1px solid #666;
  }
  .about_content {
    width: 100%;
    height: 250px;
    padding: 25px;
    .about_img {
      width: 43%;
      height: 200px;
      background: url("../imgs/about_img.jpg") no-repeat;
      background-size: 100% 100%;
      float: left;
    }
    .about_content_links {
      margin-left: 45%;
      ul {
        list-style: none;
        li {
          a {
            line-height: 1.5;
            font-size: 14px;
          }
        }
      }
    }
  }
}