.hotSpot_box {
  width: 100%;
  border: 1px solid #666;
  margin-top: 10px;
  min-height: 620px;
  .hotSpot_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #666;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    padding-left: 5px;
    border-bottom: 1px solid #666;
  }
  .hotSpot_content {
    width: 100%;
    padding: 10px;
    .hotSpot_content_left {
      width: 50%;
      float: left;
      .hotSpot_content_title {
        height: 25px;
        line-height: 25px;
        padding-left: 20px;
        background: orange;
        border-radius: 21px;
        left: 0;
        margin: 5px 20px;
        width: 30%;
      }
      .hotSpot_content_content {
        width: 100%;
        line-height: 1.0;
        font-size: 12px;
        ul {
          a {
            color: #666;
            &:hover {
              text-decoration: underline;
              color: #c05902;
            }
          }
        }
      }
    }
    .hotSpot_content_right {
      width: 50%;
      float: left;
      .hotSpot_content_title {
        height: 25px;
        line-height: 25px;
        padding-left: 20px;
        background: orange;
        border-radius: 21px;
        left: 0;
        margin: 5px 20px;
        width: 30%;
      }
      .hotSpot_content_content {
        width: 100%;
        line-height: 1.0;
        font-size: 12px;
        ul {
          a {
            color: #666;
            &:hover {
              text-decoration: underline;
              color: #c05902;
            }
          }
        }
      }
    }
  }
}