.panel-primary {
    .tab-content {
      .panel-body {
        .form-horizontal {
          .control-label {
            padding: 0 !important;
            padding-top: 7px !important;
            text-align: center;
          }
        }
      }
    }
  }
