.index_content {
  width: 100%;
  .index_content_left {
    width: 70%;
    //border:1px dotted #000;
    float: left;
  }
  .index_content_right {
    width: 29%;
    float: right;
    li {
      a {
        color: #c05902;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    //border:1px dotted #000;
  }
}
.login_content {
  width: 100%;
  min-height: 600px;
  .login_content_left {

  }
  .login_content_right {

  }
}